In [4]:
%load_ext autoreload
%autoreload 1
%aimport scrape

In [7]:
%autoreload
import scrape
import main
import pandas as pd

In [8]:
#テスト用データ
start = main.transform_timestamp(2025, 5, 1)
end = main.transform_timestamp(2025, 5, 20)

one_BTC = scrape.ScrapeMarketData()

In [203]:
import datetime

test_time = datetime.datetime(2025, 5, 19, 20, 41, 0)
test_df = pd.DataFrame(
    [[test_time,10,10,10,10,10,10]],
    columns=one_BTC.COLUMNS
)
test_df

                 開始時刻  始値  高値  安値  終値  取引量  取引総額
0 2025-05-19 20:41:00  10  10  10  10   10    10

In [205]:
one_BTC.save_csv(test_df)

In [134]:
#テスト用データ
start = main.transform_timestamp(2025, 5, 1)
end = main.transform_timestamp(2025, 5, 2)

one_hour_BTC = scrape.ScrapeMarketData(interval='60')

In [145]:
one_hour_BTC.get_kline(start=start, end=end)

,開始時刻,始値,高値,安値,終値,取引量,取引総額
0,2025-05-01 00:00:00,93669,94073.2,93601.2,93951.1,3324.982,312222052.6109
1,2025-05-01 01:00:00,93951.1,94148,93465.7,93883.4,4225.441,396192490.7901
2,2025-05-01 02:00:00,93883.4,94228.2,93692,94055.9,1949.195,183214723.7396
3,2025-05-01 03:00:00,94055.9,94499.9,93940,94034.7,3177.972,299435217.6295
4,2025-05-01 04:00:00,94034.7,94229.3,93700.4,94100,2198.856,206592582.0027
5,2025-05-01 05:00:00,94100,94696.9,94059.1,94519,3967.528,374905100.4524
6,2025-05-01 06:00:00,94519,94750,94334,94387.3,1775.398,167849872.3723
7,2025-05-01 07:00:00,94387.3,94676.8,94013.6,94071.5,2286.258,215584388.3421
8,2025-05-01 08:00:00,94071.5,94284.5,93923.2,94118,1777.259,167314100.5548
9,2025-05-01 09:00:00,94118,94350,94070.7,94350,1196.795,112769599.7162
10,2025-05-01 10:00:00,94350,94662.7,94339.8,94597.3,2294.705,216963665.6246
11,2025-05-01 11:00:00,94597.3,94940,94565.3,94796,2773.498,262924015.3554
12,2025-05-01 12:00:00,94796,94964.5,94638.7,94738.5,2009.53,190446676.7343
13,2025-05-01 13:00:00,94738.5,94873.6,94672.1,94823,938.622,88952299.4216
14,2025-05-01 14:00:00,94823,95149.7,94786.8,95114.3,2657.105,252453821.3857
15,2025-05-01 15:00:00,95114.3,95150,94763.4,94845.1,2361.579,224242975.5562
16,2025-05-01 16:00:00,94845.1,95050,94750,94978.6,1246.619,118369433.6257
17,2025-05-01 17:00:00,94978.6,95173.6,94865,95164.4,1856.902,176509318.3313
18,2025-05-01 18:00:00,95164.4,95773,95104.1,95481.5,5809.232,554578025.4606
19,2025-05-01 19:00:00,95481.5,96366,95481.5,96125.6,9337.476,896822944.9523
20,2025-05-01 20:00:00,96125.6,96228.8,95789,96138.2,4018.555,386007664.6075
21,2025-05-01 21:00:00,96138.2,96430,96066.2,96330.2,4140.067,398501956.0675
22,2025-05-01 22:00:00,96330.2,96705.7,95772,95776,11439.165,1101065356.6859
23,2025-05-01 23:00:00,95776,96888,95776,96788,9132.241,879990896.7363
24,2025-05-02 00:00:00,96788,97383.1,96715.1,96804.4,11885.48,1153325127.4011

In [9]:
one_BTC.df

,開始時刻,始値,高値,安値,終値,取引量,取引総額
0,2025-05-19 20:41:00,102931.5,102983.0,102931.4,102982.5,10.357,1.066366e+06
1,2025-05-19 20:42:00,102982.5,102991.6,102982.5,102991.6,3.530,3.635427e+05
2,2025-05-19 20:43:00,102991.6,103000.0,102982.3,102990.1,25.244,2.600059e+06
3,2025-05-19 20:44:00,102990.1,103000.0,102964.1,102995.5,20.813,2.143442e+06
4,2025-05-19 20:45:00,102995.5,103018.4,102995.4,103005.6,29.267,3.014626e+06
...,...,...,...,...,...,...,...
195,2025-05-19 23:56:00,104300.0,104332.1,104247.3,104269.6,424.885,4.430794e+07
196,2025-05-19 23:57:00,104269.6,104348.1,104269.6,104301.1,265.541,2.770118e+07
197,2025-05-19 23:58:00,104301.1,104313.8,104181.0,104208.3,172.385,1.797225e+07
198,2025-05-19 23:59:00,104208.3,104301.1,104179.4,104301.1,459.046,4.784312e+07
199,2025-05-20 00:00:00,104301.1,104347.5,104239.0,104250.8,275.397,2.872639e+07

ローソク足可視化

In [10]:
%matplotlib inline
import mplfinance as mpf

In [13]:
#ローソク足の可視化のためにdataframeの前処理
one_BTC_df_copy = one_BTC.df.copy()
one_BTC_df_copy = one_BTC_df_copy.drop('取引総額', axis=1)
one_BTC_df_copy.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
one_BTC_df_copy.set_index('Date', inplace=True)

one_BTC_df_copy

                         Open      High       Low     Close   Volume
Date
2025-05-19 20:41:00  102931.5  102983.0  102931.4  102982.5   10.357
2025-05-19 20:42:00  102982.5  102991.6  102982.5  102991.6    3.530
2025-05-19 20:43:00  102991.6  103000.0  102982.3  102990.1   25.244
2025-05-19 20:44:00  102990.1  103000.0  102964.1  102995.5   20.813
2025-05-19 20:45:00  102995.5  103018.4  102995.4  103005.6   29.267
...                       ...       ...       ...       ...      ...
2025-05-19 23:56:00  104300.0  104332.1  104247.3  104269.6  424.885
2025-05-19 23:57:00  104269.6  104348.1  104269.6  104301.1  265.541
2025-05-19 23:58:00  104301.1  104313.8  104181.0  104208.3  172.385
2025-05-19 23:59:00  104208.3  104301.1  104179.4  104301.1  459.046
2025-05-20 00:00:00  104301.1  104347.5  104239.0  104250.8  275.397

[200 rows x 5 columns]

In [208]:
mpf.plot(
    one_BTC_df_copy,
    type='candle',   
    )

ValueError: Column "Open" NOT FOUND in Input DataFrame!
            CHECK that your column names are correct AND/OR
            CHECK for leading or trailing blanks in your column names.